# Python cache
__pycache__/
*.pyc

# Checkpoints
checkpoints/
*.pt

# Tokenizers data
data/tokenizers/
data/

# Environment files
.env
*.swp

# VSCode
.vscode/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Logs
logs/
