# Core DL stack
torch==2.9.1
torchaudio==2.9.1
# torchvision==0.18.1   # uncomment only if used

# Tokenization / datasets
tokenizers>=0.22
datasets>=4.4.1
huggingface_hub>=1.1.4

# Utilities
tqdm>=4.67
pandas>=2.3
PyYAML>=6.0
# typer-slim>=0.20.0   # keep if you use Typer CLI
# hf-xet>=1.2.0        # keep if needed
matplotlib==3.9.0
